* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

body {
	color: #2A2728;
	background-color: #F2F2F2;
	margin: 0px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hidden, #hidden {
	display: none;
}

/*HEADER  */
header {
	margin-bottom: 40px; 
	padding: 0px;
}

.title {
	background-color: #2A2728;

	color: white;
	
	padding: 10px;
	width: 100%;
}

.banner {
	background-image: url("images/banner.jpeg");
	padding: 200px 0px;
}
.results {
	background-image: url("images/body.jpeg")
}

.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}



.banner input, select, textarea{
    color: #2A2728;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #2A2728;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #2A2728;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #2A2728;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #2A2728;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #2A2728;
}

.banner input{
	background: rgba(204, 204, 204, 0.5);
	color: #2A2728;
	border: none;
	display: inline-block;
	font-size: 19px;
	padding: 35px;
	width: 500px;
}
/*SEARCH BOX  */




 .search-bar button {
	background-color: #A52A2A;
	border: none; 
  color: #fff;
  display: block;
	font-size: 15px;
	margin: 0px auto;
  padding: 5px 12px;
	text-decoration: none;
	width: 500px;
	transition: background .2s ease;
}

 .search-bar button:hover {
	background-color: #5D0000;
} 

/* INFO */
.info {
	background-color: white;
	box-shadow: 7px 7px 5px 0px #F5F5F5; 
	border-radius: 10px;
	border: 2px solid #F5F5F5;
 	margin: 0px auto;
	margin-bottom: 20px;
	max-width: 80%;
 	padding: 20px;
 	text-align: center;
 	width: 930px;
}



#map {
  background-color: grey;
  height: 350px;
	margin: 0px auto;
	margin-bottom: 50px;
  max-width: 95%;
	width: 577px;
 }


 /*RESULTS  */
 .results {
	padding-top: 50px;
	padding-bottom: 50px;
 }
 
 p {
   font-size: 12px;
 }

 .individual-result {
	background: rgba(204, 204, 204, 0.9);
	
	border-radius: 10px;
 	margin: 0px auto;
	margin-bottom: 20px;
	max-width: 80%;
 	padding: 20px;
 	text-align: center;
 	width: 530px;
 }



 .hospital-name {
 	font-size: 20px;
 }

 .rating {
 	color: blue;
 }
.available {
	color: green;
}

.unavailable {
	color: red;
}

 /*RATEYO STAR RATINGS  */
 .jq-ry-container {
	 margin: 0px auto;
 }


/* SCROLL TO TOP */
.scrollToTop{
	width:100px; 
	height:130px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	bottom:75px;
	right:40px;
	display:none;
	background: url('images/arrow.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
	text-decoration:none;
}