* {
	box-sizing: border-box;
	
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Crete Round', serif;
	text-align: center;
}

body {
	color: #2A2728;
	/* background-image: url("images/dust_scratches.png");
	background-color: #F2F2F2; */
	background-color: #e3d9ca;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2395a792' fill-opacity='0.09'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	padding: 0px;
	margin: 0px;
}

.hidden, #hidden {
	display: none;
}

/*HEADER  */
header {
	margin-bottom: 40px; 
	padding: 0px;
}

.title {
	/* background-color: #2A2728; */
	background-color: #596C68;
	position: fixed;
	color: white;
	padding: 10px;
	width: 100%;
	z-index: 100;
}

.title h1 {
	padding-left: 20px;
	text-align: left;
}

.banner {
	/* background-image: url("images/banner.jpeg"); */
	background-image: url("images/newbanner.jpg");
	/* background-color: #95A792; */
	padding: 200px 0px;
}

.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}



/*SEARCH BOX  */
.search-bar input {
	border: none;
	border-radius: 15px;
	padding: 10px 5px;
	width: 500px;
	max-width: 80%;
}

.search-bar input:focus {
	outline: 0;
}


 .search-bar button {
	background-image: url("images/search.png");
	background-color: #5D0000;
	/* background-position: 8px 8px; */
	background-repeat: no-repeat;
	background-size: contain;
	border: none; 
	border-radius: 10px;
  color: #fff;
  display: inline-block;
	font-size: 15px;
	margin: 0px auto;
  padding: 10px 5px;
  cursor: pointer;
	width: 37.2px;
	height: 37.2px;
	vertical-align: bottom;
	transition: background .2s ease;
}

 .search-bar button:hover {
	background-color: #3F0000;
} 

.search-bar button:focus {
	outline: 0;
}
/* INFO */
.info {
	background-color: white;
	
	border-radius: 10px;
	border: 2px solid #F5F5F5;
 	margin: 0px auto;
	margin-bottom: 20px;
	max-width: 80%;
 	padding: 20px;
 	text-align: center;
 	width: 930px;
}



#map {
  background-color: grey;
  height: 350px;
	margin: 0px auto;
	margin-bottom: 50px;
  max-width: 95%;
	width: 577px;
 }


 /*RESULTS  */
 .results {
	padding-top: 50px;
	padding-bottom: 50px;
 }
 
 p {
   font-size: 12px;
 }

 .individual-result {
	background-color: white;
	border-radius: 10px;
	
 	margin: 0px auto;
	margin-bottom: 20px;
	max-width: 80%;
 	padding: 20px;
 	text-align: center;
 	width: 530px;
 }



 .hospital-name {
	font-family: 'ABeeZee', sans-serif;
 	font-size: 20px;
 }

 .rating {
 	color: blue;
 }
.available {
	color: green;
}

.unavailable {
	color: red;
}

 /*RATEYO STAR RATINGS  */
 .jq-ry-container {
	 margin: 0px auto;
 }


/* SCROLL TO TOP */
.scrollToTop{
	background: url('images/arrow.png') no-repeat;
	background-size: 100%;
	top:10px;
	cursor: pointer;
	display:none;
	height:100px;
	position:fixed;
	right:40px;
	width:80px; 
	z-index: 101;
}
