* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

body {
	color: #2A2728;
	background-color: #F2F2F2;
	margin: 0px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hidden, #hidden {
	display: none;
}

/*HEADER  */
header {
	margin-bottom: 40px; 
	padding: 0px;
}

.title {
	background-color: #2A2728;

	color: white;
	
	padding: 10px;
	width: 100%;
}

.banner {
	padding: 120px 0px;
	background-image: url("images/banner.jpeg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner h2 {
	background: rgba(204, 204, 204, 0.5);
	border: 10px solid #2A2728;
	display: inline;
	padding: 40px;

}


/*SEARCH BOX  */
.search {
	margin-bottom: 20px;
}

.search-bar {
	font-size: 20px;
}


.search-bar > input {
	border: 1px solid #d7d7d7;
	font-size: 19px;
	width: 400px;
}


 .search-bar button {
	background-color: #A52A2A;
	border: none; 
	display: block;
  color: #fff;
	font-size: 15px;
	margin: 10px auto;
  padding: 5px 12px;
	text-decoration: none;
	width: 400px;
	transition: background .2s ease;
}

 .search-bar button:hover {
	background-color: #5D0000;
} 


#map {
  background-color: grey;
  height: 350px;
	margin: 0px auto;
	margin-bottom: 50px;
  max-width: 95%;
	width: 577px;
 }


 /*RESULTS  */
 .results {
	padding-top: 50px;
 }
 
 p {
   font-size: 12px;
 }

 .individual-result {
	background-color: white;
	box-shadow: 7px 7px 5px 0px #F5F5F5; 
	border-radius: 10px;
	border: 2px solid #F5F5F5;
 	margin: 0px auto;
	margin-bottom: 20px;
	max-width: 80%;
 	padding: 20px;
 	text-align: center;
 	width: 530px;
 }



 .hospital-name {
 	font-size: 20px;
 }

 .rating {
 	color: blue;
 }
.available {
	color: green;
}

.unavailable {
	color: red;
}

 /*RATEYO STAR RATINGS  */
 .jq-ry-container {
	 margin: 0px auto;
 }